*
{
    box-sizing: border-box;
}
body
{
    padding: 0;
    margin: 0;
}
.overview
    {background-image: url(pexels.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    padding: 16px;
    color: #02505c;
    position: relative;
}
.overview h1
{
    font-weight: bolder;
    position: absolute;
    top: 77%;
    color: #fff;
}
.plans-title
{
    color: #0e4f1f;
    text-align: center;
    font-size: 30px;
}
.plans
{
    width: 100%;
    text-align: center;
}
.plan
{
    display: inline-block;
    width: 30%;
    background-color: #d5ffdc;
    padding: 16px;
    margin: 8px;
}
.plan-title
{
    color: #0e4f1f;
}
.plan-highlighted
{
    background-color: #19b84c;
    color: #ffffff;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.5);
}
.plan-highlighted .plan-title
{
    color: #fff;
}
.plan-features
{
    list-style: none;
    padding: 0;
}
.plan-features li
{
    margin: 8px 0;
}
.recommended
{
    text-transform: uppercase;
    color: #19b84c;
    background-color: #fff;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.5);
}
button
{
    cursor: pointer;
    background-color: #0e4f1f;
    color: #fff;
    border-radius: 8px;
    padding: 8px;
    font-weight: bold;
    border: 2px;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.5);
}
button:hover
{
    cursor: pointer;
    background-color: #fff;
    color: #0e4f1f;
    border-radius: 8px;
    padding: 8px;
    font-weight: bold;
    border: 2px;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.5);
}
/*key features*/
#key-features
{
    text-align: center;
    background-color: rgb(245, 82, 82);
    width: 100%;
    margin: 50px 0;
    padding: 15px 10px;
}
#key-features h1
{
    padding: 20px 0;
    color: #fff;
}
.key-features-list
{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
    /* vertical-align: middle; */
}
.key-features-title
{
    color: #fff;

    /* display: inline-block;
    vertical-align: middle; */
}
.key-feature
{
    display: inline-block;
    margin: 10px 75px;
    padding: 8px;
    /* border: 2px solid black; */
}
.key-feature div svg
{
    color: #3A459B;
    background-color: #fff;
    padding: 8px;
    border-radius: 50px;
    /* border: 2px solid red; */
}
.key-feature p
{
    color: #fff;
    font-size: 15px;
    font-weight: 25px;
}
/* .key-feature .left
{
    
}
.key-feature .middle
{
    text-align: center;
} */
footer {
    background-color: gray;
    text-align: center;
    padding: 20px 0;
}